@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Gugi');

@font-face {
  font-family: 'UTM Avo';
    src: local('UTM Avo'), url('fonts/utm-avo.woff') format(‘woff’);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'UTM Avo';
}
