.ant-layout{
  background: none;
}
.main-content-cotainer {
  width: 100%;
  box-sizing: border-box;
  min-height: calc(150vh - 560px);
  .title {
    font-family: "UTM Avo";
    text-align: center;
    color: #fff;
    font-size: 2.8vw;
    font-weight: 800;
    position: absolute;
    top: 3rem;
    width: 100%;
  }
}
